body{
	margin: 0;
    background: url(../img/image2.jpg);
}
header{
	text-align: left;
	width: 100%; 
	height: 140px;
	padding-top: 3px;
	color: black;
	border-bottom: 2px solid black;
    font-family: Times New Roman;
    background-color: rgba(250, 238, 221, 0.3); 
}
.top{
	float: center;
	text-align: center;
	font-family: Times New Roman;
	font-size: 4em;
	text-decoration: none;
	color: black;
	padding-left: 35px;
	}
.top a{
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-family: Times New Roman;
}
.top a:hover {
  background-color: grey;
  color: black;
  font-family: Times New Roman;
}
.text{
	float: right;
	text-align: center;
	color: black;
	padding-right: 35px;
	font-family: Times New Roman;
}
.menu{
  height: 50px;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  color: maroon;
  background-color:#FAEEDD;
  border-bottom: 2px solid black;
  font-family: Times New Roman;
  font-size: 15px;
}
.menu a{
  float: left;
  display: block; 
  color: maroon;
  text-align: center;
  padding: 75px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  font-family: Times New Roman;
}
.menu a:hover{
  background-color: grey;
  color: black;
  font-family: Times New Roman;
}
.about{
	text-align: center;
	padding-top: 5px;
	color: maroon;
	background: rgba(250, 238, 221, 0.85); 
    padding-bottom: 15px;
	font-family: Times New Roman;
}
.services{
  width: 25%;
  height: 520px;
  margin-left: 37%;
  float: center;
  padding: 15px;
  color: maroon;
  text-align: center;
  background: rgba(250, 238, 221, 0.7); 
  font-family: Times New Roman;
  list-style-type: none;
}
.services a{
  float: center;
  display: block;
  color: maroon;
  text-align: center;
  padding-bottom: 45px;
  text-decoration: none;
  background: rgba(250, 238, 221, 0.7); 
  padding: 15px;
  font-family: Times New Roman;
}
.services a:hover{
  background-color: grey;
  color: black;
  font-family: Times New Roman;
}
#col1, #col2, #col3 {
     width: 435px; 
	 height: 450px;
     padding: 0 7px;
	 padding-top: 62px;
     float: left;
	 color: maroon;
     background-color: rgba(250, 238, 221, 0.6); 
	 text-align: center;
    } 
#col1, #col2 {
     border-right: 1px solid #000;
    }
#col2 {
     background-color: rgba(250, 238, 221, 0.9); 
}		
input, textarea {
  width: 100%;
  padding: 10px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: rgba(250, 238, 221, 0.7); 
}
input[type=submit] {
  float: center;
  display: block;
  color: maroon;
  text-align: center;
  padding-bottom: 45px;
  text-decoration: none;
  background: rgba(250, 238, 221, 0.7); 
  padding: 15px;
  font-family: Times New Roman;
}
input[type=submit]:hover {
  background-color: grey;
  color: black;
  font-family: Times New Roman;
}
.inputtext{
  width: 25%;
  height: 400px;
  margin-left: 37%;
  float: center;
  padding:15px;
  color: maroon;
  text-align: center;
  background: rgba(250, 238, 221, 0.7); 
  padding: 5px; 
  font-family: Times New Roman;  
}
.empmenu{
  width: 25%;
  height: 285px;
  margin-left: 36%;
  float: center;
  padding: 15px;
  color: maroon;
  text-align: center;
  background: rgba(250, 238, 221, 0.7); 
  font-family: Times New Roman;
  list-style-type: none;
}
.empmenu a{
  float: center;
  display: block;
  color: maroon;
  text-align: center;
  padding-bottom: 45px;
  text-decoration: none;
  background: rgba(250, 238, 221, 0.7); 
  padding: 15px;
  font-family: Times New Roman;
}
.empmenu a:hover{
  background-color: grey;
  color: black;
  font-family: Times New Roman;
}
.emplbody{
  background-image: url(../img/image1.jpg);
  height: 1150px;
}
.table{
  border-top: 2px;
  float: center;
  text-align: center;
  color: maroon;
  border-top: 2px solid black;
  padding: 30px 500px 50px;
  background-color: rgba(250, 238, 221, 0.6); 
}
table{
  background: rgba(250, 238, 221, 0.7); 
}
th, td {
  background: #FAEEDD; 
}
footer{
	height: 50px;
	left: 0; bottom: 0;
    color: maroon;
	border-top: 2px solid black;
	background: #FAEEDD;
	font-family: Times New Roman;
}